#container1{
    margin: auto;
    padding: 20px
    display: flex;
    border: solid;
    text-align: center;
    margin-bottom: 20px;
    width: 600px
}
#container2{
    margin: auto;
    padding: 20px
    display: flex;
    border: solid;
    text-align: center;
    margin-bottom: 20px;
    width: 600px
}

h3{
    text-decoration: underline
}